{% extends "base.html" %}

{% block title %} Dashboard{% endblock %}

{% block content %}
    <div class="container">
    <div class="col-md-5 text-capitalize glyphicon-dashboard">
        <h3 class="shadow p-3 mb-5 bg-#34495e rounded text-info">Tenant</h3>
        <p>_______________________________</p>
        <p class="glyphicon-dashboard text-success"><em>Hello {{ user.first_name }}, This is the decision table</em></p>
        <p><a class="text-white" href="">your Info</a></p>
        <p><a class="glyphicon-education text-white" href="#">Input students result</a></p>
        <p><a class="glyphicon-adjust text-white" href="#">All students</a></p>
        <p><a class="glyphicon-adjust text-white" href="#">All students Details</a></p>
        <p><a class="glyphicon-adjust text-white" href="#">Account settings</a></p>

    </div>

    </div>
{% endblock %}