{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    list property
{% endblock %}

{% block content %}
    <div class="offset-2">
        <div class="container align-center">

                <h4 class="text-info  shadow p-3 mb-5 bg-#34495e rounded "> List Property</h4>

                {% if form.errors %}
                    <p class="text-danger offset-4">the information entered is incomplete. Please try again</p>
                {% else %}


                <div class="form-control">
                    <form action="./" method="post" class="form-control-feedback">
                        <div class="col-md-9">
                            {{ form|crispy}}
                            {% csrf_token %}
                        </div>
                        <div class="col-md-5">
                        <p><button class="btn btn-primary col-md-5 offset-8" type="submit">Submit</button></p>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

